
.NavBar{
    background-color: #2196f3;
    margin: 0px auto;
    padding:10px 0;
    width: 100%;
    height: 4vh;
}

.NavLink-Group{
    display: flex;
    justify-content: space-between;
    padding-right: 3vh;
    padding-left: 3vh;
    margin: auto;
    
}
.NavLink-List{
    display: flex;
}

.User-main-block{
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.nva-btn-back{
    margin-right: auto ;
    padding-left: 10px 0;
}