@font-face {
    font-family: Kanit-M;
    src: url(../../assets/fonts/kanit/Kanit-Medium.ttf);
}


@font-face {
    font-family: Kanit-L;
    src: url(../../assets/fonts/kanit/Kanit-Light.ttf);
}
.Kanit-M {
    font-family: Kanit-M;
}

.Kanit-L {
    font-family: Kanit-L;
}

.VerifyProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 50px 0px 50px;
    /* background-color: aqua; */
}

.Criteria_Block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /* background-color: red; */
}


.VerifyButtonCriteria{
    margin-bottom: 10px;
    min-width: 70px;
}
 

.Evaluate {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0px 50px 0px 50px;
}

.evaluate_button_block{
    display: flex;
    justify-content: center;
    /* background-color: green; */
}

.evaluate_button_space{
    width: 180px;
    display: flex;
    justify-content: space-between;
    /* background-color: rebeccapurple; */
}

.table_cell{
    margin: 0;
}
.table_cell td{
    width: 20%;
}

.table_cell td:first-child{

    width: 30%;
}
.table_cell td:last-child{
    width: 30%;
}
