
.allitem{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

  .item-header{
    display: flex;
    align-content: space-between;
    
    .item-header-space {
      margin-left: auto;
    }

    h1 {
      position: relative;
      padding: 0;
      margin: 0;
      font-family: "Raleway", sans-serif;
      font-weight: 300;
      font-size: 32px;
      color: #080808;
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
    }
    
    h1 span {
      display: block;
      font-size: 0.5em;
      line-height: 1.3;
    }
    h1 em {
      font-style: normal;
      font-weight: 600;
    }

    .item-header-text{
      margin-right:15px ;
    }
    .item-header-text h1 {
      margin-top: 18px;
      margin-left: 24px;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 5px;
    }
    .item-header-text h1:before {
      width: 28px;
      height: 5px;
      display: block;
      content: "";
      position: absolute;
      bottom: 3px;
      left: 50%;
      margin-left: -14px;
      background-color: #b80000;
    }
    .item-header-text h1:after {
      width: 100px;
      height: 1px;
      display: block;
      content: "";
      position: relative;
      margin-top: 25px;
      left: 50%;
      margin-left: -50px;
      background-color: #b80000;
    }

    .item-header-search{
      margin: 20px;
      justify-content: end;
    }

    .item-header-button{
      margin: 20px;
      justify-content: end;
    }
  
    .date-pic{
      margin: 20px;
    }
  
    .header-button-1{
      margin: 20px;
      margin-top: 25px;
      height: 40px;
    }
  
    .header-button-2{
      margin: 20px;
      margin-top: 25px;
      height: 40px;
    } 
  }

}

.notfound{
  margin: auto;
  display: flex;
}


.cellWithStatus {
  padding: 5px;
  border-radius: 5px;

  &.active {
    background-color: rgba(0, 128, 0, 0.05);
    color: green;
  }
  &.pending {
    background-color: rgba(255, 217, 0, 0.05);
    color: goldenrod;
  }
  &.passive {
    background-color: rgba(255, 0, 0, 0.05);
    color: crimson;
  }

}

.item-datatable{
    margin: 20px;
    margin-top: 40px;
}

  .active-name:active {
    background-color: rgba(0, 128, 0, 0.05);
    color: red;
  }

  .active-name:link {
    color: red;
  }
  
  /* visited link */
  .active-name:visited {
    color: green;
  }
  
  /* mouse over link */
  .active-name:hover {
    color: hotpink;
  }
  
  /* selected link */

  .loading-toggle {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-toggle-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fefefe;
  }
  
  .loading-toggle-text {
    margin-left: 14px;
    font-size: 24px;
  }
  
  .loading-toggle-pic {
    width: 50px;
    height: 50px;
    border: 8px solid #ddd;
    border-top: 8px solid #2196f3;
    border-bottom: 8px solid #2196f3;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
